html, body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 300px;
    block-size: 50px;
}

.logo a {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

a, .description{
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
    max-width: 650px;
    margin-bottom: 16px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 18px;
}

.context {
    background-color: #1F2937;
    padding: 50px 300px;
    display: flex;
    justify-content: space-between;
}

.context .title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 8px;
}

.troll-image {
    height: 300px;
    width: 400px;
}

figcaption {
    text-align: center;
    color: #F9FAF8;
}

.david {
    color:antiquewhite;
}

.sign-up-top {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 8px 24px;
    border-radius: 5px;
}

.examples {
    display: flex;
    padding: 0px 300px;
    flex-flow: column;
    align-items: center;
}

.examples .title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 32px 0px;
}

.trolls img {
   width: 100px;
   height: 100px;
   border-width: 2px;
   border-color: #3882F6;
   border-radius: 5px;
}